Repository karol-preiskorn/3d-inventory-api: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache, prettier --write, sort-package-json, npm run test -- --findRelatedTests --passWithNoTests

feat: implement admin account unlock and password reset scripts
  ADMIN-ACCOUNT-LOCKED-FIX.md
  package.json
  reset-admin-password.ts
  unlock-admin.ts
Due: prettier --write, sort-package-json

feat: update CORS configuration to include missing Ultima Solution domains
  CORS-503-FIX.md
  src/main.ts
Due: eslint --fix --cache, prettier --write

feat(logging): Enhance logging to include user tracking in create operations
  COMPLETE-ERROR-FIX-SUMMARY.md
  DEPLOYMENT-INSTRUCTIONS.md
  DEPLOYMENT-SUCCESS-SUMMARY.md
  DEVICE-CREATE-500-ERROR-FIX.md
  LOGGING-ENHANCEMENT.md
  USER-TRACKING-ENHANCEMENT.md
  USER-TRACKING-QUICK-REF.md
  src/controllers/attributes.ts
  src/controllers/connections.ts
  src/controllers/devices.ts
  src/controllers/floors.ts
  src/controllers/logs.ts
  src/controllers/models.ts
  src/services/logs.ts
Due: eslint --fix --cache, prettier --write

feat(admin): add script to assign admin role and verify access
  ADMIN-ROLE-FIX.md
  add-admin-role.ts
  package-lock.json
  package.json
  verify-admin-access.ts
Due: prettier --write, sort-package-json

feat(permissions): migrate user permissions to new format and update related scripts
  PERMISSION-MIGRATION-GUIDE.md
  PERMISSION-SYSTEM-UPDATE.md
  migrate-permissions.ts
  src/middlewares/auth.ts
  src/models/Role.ts
  src/routers/devices.ts
  src/routers/github.ts
  update-user-permissions.ts
Due: eslint --fix --cache, prettier --write

feat(permissions): update permission references to new format across tests and role management
  PERMISSION-FIX-DEPLOYMENT.md
  src/tests/RoleService.test.ts
  src/tests/auth.middleware.test.ts
  src/tests/integration.auth.test.ts
  src/tests/role.controller.test.ts
Due: eslint --fix --cache, prettier --write, npm run test -- --findRelatedTests --passWithNoTests

feat: Implement complete user login activity logging with IP address tracking
  LOGIN-AUDIT-LOGGING.md
  LOGIN-IMPLEMENTATION-COMPLETE.md
  LOGIN-LOGGING-SUMMARY.md
  src/controllers/devices.ts
  src/controllers/login.ts
  src/controllers/logs.ts
  src/routers/logs.ts
  test-login-logging.sh
Due: eslint --fix --cache, prettier --write

feat(docs): Update README and Copilot instructions to enhance logging and tracking features documentation
  .github/copilot-instructions.md
  .vscode/settings.json
  README-UPDATE-OCT-12-2025.md
  README.md
Due: prettier --write

feat(security): Update security workflow to run weekly and enhance vulnerability checks with dynamic thresholds
  .github/copilot-instructions.md
  .github/workflows/security.yml
Due: prettier --write

feat(security): Remove custom CodeQL analysis job and switch to GitHub's default setup to resolve workflow conflicts
  .github/workflows/security.yml
  CODEQL-CONFLICT-RESOLUTION.md
  CODEQL-SETUP.md
Due: prettier --write

feat: Remove obsolete CI/CD and cost monitoring workflows to streamline repository
  .github/instructions/snyk_rules.instructions.md
  .github/workflows/action.yaml
  .github/workflows/cost-monitoring.yml
Due: prettier --write

fix: correct npm script paths and command runners
  package.json
Due: prettier --write, sort-package-json

docs: add comprehensive npm script path fix documentation and verification tools
  FIX-SUMMARY.txt
  NPM-SCRIPT-FIXES-REPORT.md
  PACKAGE-JSON-FIXES.md
  npm-script-fixes-verify.sh
Due: prettier --write

feat: add Snyk policy file and npm scripts for security scanning
  .snyk
  .vscode/settings.json
  PACKAGE-JSON-FIXES.md
  SNYK-QUICK-START.md
  package.json
  scripts/database/cleanup-and-reinit.ts
Due: prettier --write, sort-package-json

Bump version to 1.0.1 and update slow query threshold to 15 seconds
  .github/workflows/dependency-updates.yml
  .github/workflows/deploy-gcp.yml
  .github/workflows/security.yml
  package-lock.json
  package.json
  src/middleware/database-monitor.ts
Due: eslint --fix --cache, prettier --write, sort-package-json

feat: update GCP deployment workflow to use GCP_PROJECT_ID and GCP_SA_KEY secrets
  .env.example
  .github/GCP-SECRETS-SETUP.md
  .github/workflows/deploy-gcp.yml
Due: prettier --write

Path conditions:
  eslint --fix --cache: any of: src/**/*.{ts,js}
  prettier --write: ((((any of: src/**/*.{ts,js}) or (any of: src/**/*.{json,md,yaml,yml})) or (any of: *.{json,md,yaml,yml})) or (any of: .github/**/*.{yml,yaml})) or (any of: package.json)
  sort-package-json: any of: package.json
  npm run test -- --findRelatedTests --passWithNoTests: any of: src/**/*.test.{ts,js}
