Repository karol-preiskorn/3d-inventory-api: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache, prettier --write, sort-package-json, npm run test -- --findRelatedTests --passWithNoTests

.lintstagedrc.json:

{
  "src/**/*.{ts,js}": [
    "eslint --fix --cache",
    "prettier --write"
  ],
  "src/**/*.{json,md,yaml,yml}": [
    "prettier --write"
  ],
  "*.{json,md,yaml,yml}": [
    "prettier --write"
  ],
  ".github/**/*.{yml,yaml}": [
    "prettier --write"
  ],
  "package.json": [
    "sort-package-json",
    "prettier --write"
  ],
  "src/**/*.test.{ts,js}": [
    "npm run test -- --findRelatedTests --passWithNoTests"
  ]
}

refactor: Rearrange imports and improve model insertion test logic
  src/tests/model.test.ts
Due: eslint --fix --cache, prettier --write, npm run test -- --findRelatedTests --passWithNoTests

feat: Implement strict ESLint policy and enhance pre-commit checks
  .husky/pre-commit
  .lintstagedrc.json
  ESLINT-POLICY.md
  package-lock.json
  package.json
  src/routers/github.test.ts
  src/services/RoleService.ts
  src/tests/connections.test.ts
  src/tests/floors.test.ts
  src/tests/logs.api.test.ts
  src/tests/model.test.ts
  src/tests/prepare-data.test.ts
  src/utils/db.ts
Due: eslint --fix --cache, prettier --write, sort-package-json, npm run test -- --findRelatedTests --passWithNoTests

feat: Replace @faker-js/faker with casual and test-data-bot for improved Jest testing
  JEST-TESTING.md
  MIGRATION-SUMMARY.md
  MODERN-JEST-SETUP.md
  package-lock.json
  package.json
  src/tests/attributesDictionary.gen.test.ts
  src/tests/connection.db.test.ts
  src/tests/connections.test.ts
  src/tests/floors.test.ts
  src/tests/model.test.ts
  src/tests/models.test.ts
  src/tests/prepare-data.test.ts
  src/tests/testGenerators.ts
  src/tests/users.test.ts
Due: eslint --fix --cache, prettier --write, sort-package-json, npm run test -- --findRelatedTests --passWithNoTests

refactor: Update configuration handling to use centralized config module and improve environment variable validation
  README-GCP.md
  src/main.ts
  src/routers/devices.test.ts
  src/tests/attributesDictionary.gen.test.ts
  src/tests/connection.db.test.ts
  src/tests/connections.test.ts
  src/tests/floors.test.ts
  src/tests/model.test.ts
  src/tests/models.test.ts
  src/tests/prepare-data.test.ts
  src/tests/setup.ts
  src/utils/config.ts
Due: eslint --fix --cache, prettier --write, npm run test -- --findRelatedTests --passWithNoTests

feat: Enhance Jest testing configuration and improve test suite documentation with comprehensive descriptions and error handling
  jest.config.ts
  src/routers/devices.test.ts
  src/routers/github.test.ts
  src/routers/readme.test.ts
  src/tests/attributesDictionary.gen.test.ts
  src/tests/connection.db.test.ts
  src/tests/connections.test.ts
  src/tests/device.get.api.test.ts
  src/tests/floors.test.ts
  src/tests/globalSetup.ts
  src/tests/jest.setup.ts
  src/tests/logs.api.test.ts
  src/tests/model.test.ts
  src/tests/models.test.ts
  src/tests/prepare-data.test.ts
  src/tests/users.test.ts
  src/utils/config.ts
Due: eslint --fix --cache, prettier --write, npm run test -- --findRelatedTests --passWithNoTests

refactor: Rearrange import statements and remove unused helper function in test suite
  src/main.ts
  src/tests/prepare-data.test.ts
Due: eslint --fix --cache, prettier --write, npm run test -- --findRelatedTests --passWithNoTests

Checkpoint from VS Code for coding agent session
  jest.config.ts
  src/controllers/github.ts
  src/routers/readme.test.ts
  src/tests/attribute.test.ts
  src/tests/attributesDictionary.test.ts
  src/tests/connection.test.ts
  src/tests/device.get.api.test.ts
  src/tests/device.test.ts
  src/tests/doc.test.ts
  src/tests/floor.test.ts
  src/tests/github.test.ts
  src/tests/health.test.ts
  src/tests/jest.setup.ts
  src/tests/log.test.ts
  src/tests/login.test.ts
  src/tests/model.test.ts
  src/tests/models.test.ts
  src/tests/readme.test.ts
  src/tests/role.test.ts
  src/tests/testGenerators.ts
  src/tests/user-management.test.ts
  src/tests/user.test.ts
Due: eslint --fix --cache, prettier --write, npm run test -- --findRelatedTests --passWithNoTests

feat(tests): fix ESLint errors in device and model API tests
  package.json
  scripts/test-git-hooks.sh
  src/tests/devices.api.test.ts
  src/tests/models.api.test.ts
Due: eslint --fix --cache, prettier --write, sort-package-json, npm run test -- --findRelatedTests --passWithNoTests

Refactor: Remove outdated test files and enhance model and device testing coverage
  package-lock.json
  package.json
  src/routers/devices.test.ts
  src/routers/models.ts
  src/tests/devices.test.ts
  src/tests/github.test.ts
  src/tests/models.test.ts
  src/tests/readme.test.ts
Due: eslint --fix --cache, prettier --write, sort-package-json, npm run test -- --findRelatedTests --passWithNoTests

refactor: reorder import statements for improved readability
  src/routers/models.ts
Due: eslint --fix --cache, prettier --write

feat: add documentation fixer script and improve markdown quality
  .github/PULL_REQUEST_TEMPLATE.md
  .markdownlint.json
  CODE-QUALITY-IMPROVEMENTS.md
  DEVELOPMENT.md
  DOCUMENTATION-IMPROVEMENTS.md
  DOCUMENTATION-STYLE-GUIDE.md
  ESLINT-POLICY.md
  IMPROVEMENTS_SUMMARY.md
  JEST-TESTING.md
  MIGRATION-SUMMARY.md
  MODERN-JEST-SETUP.md
  README.md
  SECURITY-FIXES.md
  SECURITY.md
  documentation-report.json
  package-lock.json
  package.json
  scripts/documentation-fixer.ts
  scripts/quality-reporter.ts.backup
Due: prettier --write, sort-package-json

feat(monitoring): implement comprehensive metrics and monitoring system
  MONITORING-IMPLEMENTATION.md
  scripts/monitoring-demo.ts
  src/main.ts
  src/middleware/correlation.ts
  src/middleware/database-monitor.ts
  src/middleware/health-alerting.ts
  src/middleware/metrics.ts
  src/middlewares/index.ts
  src/routers/monitoring.ts
  src/tests/monitoring.test.ts
Due: eslint --fix --cache, prettier --write, npm run test -- --findRelatedTests --passWithNoTests

chore: update version to 0.96.143 in package.json and package-lock.json
  API-REORGANIZATION-SUMMARY.md
  api.yaml
  api.yaml.tag-sorted-backup
  package-lock.json
  package.json
  reorganize-by-tags.py
  src/controllers/logs.ts
Due: eslint --fix --cache, prettier --write, sort-package-json

feat(cors): enhance CORS configuration and add debug logging middleware; create CORS test script
  .env.example
  src/main.ts
  test-cors.sh
Due: eslint --fix --cache, prettier --write

chore: update dependencies and add models API integration verification script
  package-lock.json
  package.json
  verify-models-integration.sh
Due: prettier --write, sort-package-json

chore: update version to 0.96.144 in package.json and package-lock.json
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

feat(docs): add comprehensive AI Agents & Development Automation documentation; outline workflows, testing automation, and best practices
  .github/copilot-instructions.md
  AGENTS.md
Due: prettier --write

feat(debug): add comprehensive authentication debug script for diagnosing login issues and API connectivity
  debug-auth.sh
Due: none

feat(auth): add comprehensive authentication testing scripts for user login and database authentication
  check-db-raw.ts
  cleanup-and-reinit.ts
  debug-auth.sh
  init-users-simple.js
  init-users.js
  init-users.ts
  package.json
  test-auth.cjs
  test-db-auth.ts
Due: prettier --write, sort-package-json

refactor: reorganize import statements and clean up whitespace in various scripts
  check-db-raw.ts
  cleanup-and-reinit.ts
  init-users-simple.js
  init-users.js
  init-users.ts
  test-db-auth.ts
Due: none

chore: update version to 0.96.145 in package.json and package-lock.json; add Swagger/OpenAPI documentation instructions
  .github/instructions/swagger.instruction.md
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

feat(docs): add comprehensive AGENTS.md update summary and AI-TESTING-INTEGRATION.md for enhanced testing workflows and documentation links
  AGENTS-UPDATE-SUMMARY.md
  AGENTS.md
  AI-TESTING-INTEGRATION.md
Due: prettier --write

chore: update version to 0.96.146 in package.json and package-lock.json; adjust security middleware settings and user validation lock time
  package-lock.json
  package.json
  src/middlewares/security.ts
  src/models/User.ts
Due: eslint --fix --cache, prettier --write, sort-package-json

feat(config): add CORS_ORIGIN property to Config interface and defaults for centralized CORS configuration
  CORS-CONFIG-FIX-SUMMARY.md
  package-lock.json
  package.json
  src/utils/config.ts
Due: eslint --fix --cache, prettier --write, sort-package-json

chore: update dependencies in package.json and package-lock.json to latest versions
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

chore: update version to 0.96.154 in package.json and package-lock.json; modify HTTPS options in main.ts for clarity and production use
  package-lock.json
  package.json
  src/main.ts
Due: eslint --fix --cache, prettier --write, sort-package-json

Add test results log and improve test coverage
  .github/instructions/code_quality_standards.instructions.md
  .github/instructions/snyk_rules.instructions.md
  .github/instructions/test_coverage_standards.instructions.md
  .github/instructions/typescript_strict_mode.instructions.md
  package-lock.json
  package.json
  src/controllers/RoleController.ts
  src/controllers/UserController.ts
  src/controllers/login.ts
  src/middleware/database-monitor.ts
  src/middleware/health-alerting.ts
  src/models/User.ts
  src/tests/InitializationService.test.ts
  src/tests/RoleService.test.ts
  src/tests/UserService.test.ts
  src/tests/auth.middleware.test.ts
  src/tests/db.advanced.test.ts
  src/tests/db.coverage.test.ts
  src/tests/db.utils.test.ts
  src/tests/integration.auth.test.ts
  src/tests/login.test.ts
  src/tests/role.controller.test.ts
  src/tests/user.controller.test.ts
  test-logs-endpoint.cjs
  test-results.log
Due: eslint --fix --cache, prettier --write, sort-package-json, npm run test -- --findRelatedTests --passWithNoTests

chore: add .jest-cache/ to .gitignore to exclude Jest cache files
  .gitignore
Due: none

feat: add mongodb-memory-server types and package for testing
  package-lock.json
  package.json
  src/tests/UserService.test.ts
  src/tests/db.advanced.test.ts
  src/tests/db.utils.test.ts
  src/tests/db.utils.test.ts.backup
  src/tests/integration.auth.test.ts
  src/tests/login.test.ts
Due: eslint --fix --cache, prettier --write, sort-package-json, npm run test -- --findRelatedTests --passWithNoTests

fix: resolve hanging Jest tests by improving MongoDB mocking and cleanup processes
  JEST-FIXES-SUMMARY.md
  JEST-OPEN-HANDLES-FIX.md
  jest.config.simple.ts
  src/tests/db.advanced.test.ts
  src/tests/db.coverage.test.ts.fixed
  src/tests/jest.setup.ts
  src/tests/mongodb-test-template.ts
  test-jest-cleanup.js
  test-simple.sh
  verify-jest-fix.sh
Due: eslint --fix --cache, prettier --write, npm run test -- --findRelatedTests --passWithNoTests

feat: add CI workflow for continuous integration tests and enhance pre-commit hook for test pattern validation
  .github/workflows/ci-tests.yml
  .husky/pre-commit
  JEST-FIXES-SUMMARY.md
  src/tests/mongodb-test-template.ts
Due: eslint --fix --cache, prettier --write

feat: add script to verify Attribute Dictionary data and fetch attributes from API
  attribute-dictionary-data.json
  scripts/verify-attribute-dictionary.sh
Due: prettier --write

feat: Update VS Code settings for Jest and Snyk configuration
  .dccache
  .vscode/settings.json
  FIND-WIF-PROVIDER.md
  GCP-WORKLOAD-IDENTITY-SETUP.md
  SNYK-CLI-SETUP.md
  deploy-depreciated.sh
  find-wif-provider.sh
  setup-github-secrets.sh
  src/middleware/health-alerting.ts
Due: eslint --fix --cache, prettier --write

fix: increase wait time for container health check in build script
  CORS-503-INVESTIGATION.md
  build.sh
Due: prettier --write
